<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Авторизация</title>
    <style type="text/css">
        @import url("/static/StyleOfPages.css");
    </style>

</head>

<body background="/static/Background.jpg">

<!--Шапка страницы-->
<div class="top">
    <img th:src="@{/static/Top.png}" th:alt="Top" th:style="'width:750px;'"/>
</div>

<!--Главное меню-->
<div style="text-align: center;"><table cborder="0" cellpadding="0" cellspacing="0" class="mainMenu">
    <tbody><tr>
        <td><a class="button" href="/">Главная</a></td>
        <td><a class="button" href="/search">Поиск доставки</a></td>
        <td><a class="button" href="/review">Отзывы</a></td>
        <td><a class="button" href="/registration">Зарегистрироваться</a></td>
        <td><a class="button" href="/auth">Войти</a></td>
    </tr>
    </tbody></table></div>

<!--Содержимое страницы-->
<div class="content-area" data-reactid=".0.1.0.2.1">
    <div class="content-area__bg" style="opacity:1;" data-reactid=".0.1.0.2.1.0"></div>
    <div class="content-area__inner" data-reactid=".0.1.0.2.1.1">
        <section data-reactid=".0.1.0.2.1.1.0">
            <!--Форма авторизации-->
            <!--/*@thymesVar id="authForm" type="com.besteam.bestapp.form.AuthForm"*/-->
            <form action="#" th:action="@{/auth}" th:object="${authForm}" method="post" class = "form" commandName="authForm" style="width: 450px;">
                <div style="text-align: center; font-size: 32px;"> Заполните поля</div>
                <table style="margin: auto">
                    <tr>
                        <td>
                            <div style="text-align: right;">Логин</div>
                        </td>
                        <td>
                            <input type="text" id="login"/>
                            <!--<span th:if="${#fields.hasErrors('from')}" th:errors="*{from}" class="error"></span>-->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: right;">Пароль</div>
                        </td>
                        <td>
                            <input type="password" id="password"/>
                            <!--<span th:if="${#fields.hasErrors('from')}" th:errors="*{from}" class="error"></span>-->
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div style="text-align: center;">
                                <input type="submit" id="authButton" value="Войти" class="button"/>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </section>
    </div>
</div>
</body>
</html>>