<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Поиск службы доставки</title>
    <style type="text/css">
        @import url("/static/StyleOfPages.css");
        .inner_align {clear:both; text-align:right;line-height:25px;}
        label {float:left;}


    </style>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var suggestView1 = new ymaps.SuggestView('from');
            var suggestView2 = new ymaps.SuggestView('to');
        }
    </script>

</head>

<body background="/static/Background.jpg">

<!--Шапка страницы-->
<div class="top">
    <img th:src="@{/static/Top.png}" th:alt="Top" th:style="'width:750px;'"/>
</div>

<!--Главное меню-->
<div style="text-align: center;"><table cborder="0" cellpadding="0" cellspacing="0" class="mainMenu">
    <tbody><tr>
        <td><a class="button" href="/">Главная</a></td>
        <td><a class="button" href="/search">Поиск доставки</a></td>
        <td><a class="button" href="/search">Отзывы</a></td>
        <td><a class="button" href="/search">Зарегистрироваться</a></td>
        <td><a class="button" href="/search">Войти</a></td>
    </tr>
    </tbody></table></div>

<!--Содержимое страницы-->
<div class="content-area" data-reactid=".0.1.0.2.1">
    <div class="content-area__bg" style="opacity:1;" data-reactid=".0.1.0.2.1.0"></div>
    <div class="content-area__inner" data-reactid=".0.1.0.2.1.1">
        <section data-reactid=".0.1.0.2.1.1.0">
            <!--Форма поиска оптимальной доставки-->
            <p class="Heat">Выберите критерии поиска</p>
            <!--/*@thymesVar id="searchDeliveryForm" type="com.besteam.bestapp.form.SearchDeliveryForm"*/-->
            <form action="#" th:action="@{/search}" th:object="${searchDeliveryForm}" method="post" class = "form" commandName="searchDeliveryForm">
                <table class="searchTable">
                    <tr>
                        <td colspan="2" >
                            <div class="inner_align">
                                <label for="from">Пункт отправления:</label>
                                <input type="text" id="from" th:field="*{from}" style="width: 470px;"/>
                                <span th:if="${#fields.hasErrors('from')}" th:errors="*{from}" class="error"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="inner_align">
                                <label for="to">Пункт прибытия:</label>
                                <input type="text" id="to" th:field="*{to}" style="width: 470px;"/>
                                <span th:if="${#fields.hasErrors('to')}" th:errors="*{to}" class="error"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="inner_align">
                                <label>Размеры посылки (см):</label>
                                высота
                                <input type="text" id="height" th:field="*{height}" style="width: 85px"/>
                                ширина
                                <input type="text" id="width" th:field="*{width}" style="width: 85px"/>
                                длинна
                                <input type="text" id="length" th:field="*{length}" style="width: 85px"/>
                                <span th:if="${#fields.hasErrors('height')}" th:errors="*{height}" class="error"></span>
                                <span th:if="${#fields.hasErrors('width')}" th:errors="*{width}" class="error"></span>
                                <span th:if="${#fields.hasErrors('length')}" th:errors="*{length}" class="error"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inner_align">
                                <label for="weight">Вес(в граммах):</label>
                                <input type="text" id="weight" th:field="*{weight}" style="width: 160px"/>
                                <span th:if="${#fields.hasErrors('weight')}" th:errors="*{weight}" class="error"></span>
                            </div>
                        </td>
                        <td>
                            <div class="inner_align">
                                <label for="date">Дата отправления:</label>
                                <input type="date" id="date" th:field="*{date}" style="width: 164px"/>
                                <span th:if="${#fields.hasErrors('date')}" th:errors="*{date}" class="error"></span>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inner_align">
                                <label for="way">Способ доставки:</label>
                                <select name="way" th:field="*{way}" id="way" style="width: 164px">
                                    <option th:value="0">Обычная</option>
                                    <option th:value="1">Экспресс</option>
                                    <option th:value="2">Курьерская</option>
                                </select>
                            </div>
                        </td>
                        <td>Учитывать рейтинг служб доставки  <input type="checkbox" th:field="*{filter}" value="true"/></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="inner_align">
                                <label for="filter">Найти доставку, оптимальную по:</label>
                                <select name="filter" th:field="*{filter}" id="filter">
                                <option th:value="true">Цена</option>
                                <option th:value="false">Время</option>
                                </select>
                            </div>
                        </td>
                        <td>Учитывать историю заказов <input type="checkbox" th:field="*{storyFilter}" value="true"/></td>
                    </tr>
                </table>
                <center><input type="submit" id="search" value="Найти" class="button"/></center>
            </form>

            <!--Форма с результатами поиска-->
            <p class="Heat">Результат поиска</p>
            <!--/*@thymesVar id="searchResultForm" type="com.besteam.bestapp.form.SearchResultForm"*/-->
            <table th:object="${searchResultForm}" class="resultTable">
                <thead>
                <tr>
                    <th>Служба доставки</th>
                    <th>Стоимость</th>
                    <th>Ориентировочное время доставки</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><output th:field="*{delivery}"/></td>
                    <td><output th:field="*{cost}"/></td>
                    <td><output th:field="*{time}"/></td>
                </tr>
                </tbody></table>


        </section>
    </div>
</div>




</body>
</html>