<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html" charset="UTF-8"/>
    <title>Поиск службы доставки</title>
</head>
<body>
<!--/*@thymesVar id="searchDeliveryForm" type="com.besteam.bestapp.form.SearchDeliveryForm"*/-->
<form action="#" th:action="@{/search}" th:object="${searchDeliveryForm}" method="post">
    <p>To: <input type="text" th:field="*{to}"/></p>
    <p>From: <input type="text" th:field="*{from}"/></p>
    <p>
        <input type="submit" value="Submit"/>
        <input type="reset" value="Reset"/>
    </p>
</form>
</body>
</html>